@import url(../blocks/header/header.css);
@import url(../blocks/description/description.css);
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/*3RD PART*/
.digits {
  margin: 0 auto;
  padding: 0 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
  margin: 0 auto 20px;
}
.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin: 0 auto 60px;
}
.table {
  list-style: none;
  margin: auto auto;
  padding: 0;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table__cell {
  width: 250px;
  margin-bottom: 60px;
}
.table__heading {
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
  margin: 0 0 20px 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.table__text:last-child {
  margin: 0;
}
/*4th section */
.feynman {
  min-height: 790px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}
.feynman__title {
  margin: 100px auto 70px;
  text-align: center;
  z-index: 4;
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}
.feynman__subtitle {
  z-index: 3;
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link {
  z-index: 2;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  color: #2f80ed;
  text-decoration: none;
  top: 50vh;
  right: 48px;
}
.feynman__background-image {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
}
/*5th section*/
.kaufman {
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
}
.section-title_theme_dark {
  margin: 90px 0 20px 0;
  color: #f2f2f2;
  z-index: 4;
}
.section-subtitle_theme_dark {
  margin: 0;
  color: #f2f2f2;
  z-index: 3;
}
.table_theme_dark {
  margin: 0 auto 90px;
  z-index: 2;
}
.table__cell_theme_dark {
  margin: 80px 0 0 0;
  padding: 0;
  width: 200px;
}

.table__heading_theme_dark {
  width: 200px;
  color: #f2f2f2;
}
.table__text_theme_dark {
  margin: 0 0 80px 0;
  width: 200px;
  color: #f2f2f2;
}
.kaufman__triangle {
  position: absolute;
  width: 660px;
  height: 636px;
  right: -124px;
  z-index: 1;
}
/*6th and last section*/
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
}
.footer__columns {
  margin: 60px auto 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.footer__column_content_copyright {
  margin: 0;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
.logo_place_footer {
  width: 183px;
  height: 35px;
}
.footer__author {
  font-weight: normal;
  line-height: 25px;
  font-size: 18px;
  margin: 18px 0 18px 0;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__column-link {
  line-height: 30px;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  color: white;
}
.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
